---
import { getCollection, render } from 'astro:content';
import { Picture, getImage } from 'astro:assets';
import Base from '@layouts/Base.astro';
import Tag from '@components/Tag.astro';
import Chip from '@components/Chip.astro';
import Badge from '@components/Badge.astro';
import StatusIndicator from '@components/StatusIndicator.astro';
import { colorFromString } from '@scripts/colorFromString';
import slugify from '@scripts/slugify';
import Carousel from '@/components/Carousel.astro';
import ShareButton from '@components/ShareButton.astro';

export async function getStaticPaths() {
  const frontendProjects = await getCollection('frontendProjects');
  return frontendProjects.map((frontendProject) => ({
    params: { id: frontendProject.id },
    props: { frontendProject },
  }));
}

const { frontendProject } = Astro.props;
const { Content } = await render(frontendProject);
const { data } = frontendProject;

const keywords = [
  ...(frontendProject.data.category ? [frontendProject.data.category] : []),
  ...(frontendProject.data.tags ? frontendProject.data.tags : []),
];

const hasProjectLinks =
  !!data.demoUrl || !!data.repositoryUrl || !!data.frontendmentorUrl;

const siteUrl = 'https://test.astn.io'; // or extract this to a shared config

const ogImageData = frontendProject.data.coverImage
  ? await getImage({
      src: frontendProject.data.coverImage,
      width: 1200,
      height: 630,
      format: 'png',
    })
  : null;

const ogImage = ogImageData ? `${siteUrl}${ogImageData.src}` : undefined;

console.log(ogImage);
---

<Base
  title={`${data.title} | Austin Hagel`}
  description={data.description}
  keywords={keywords}
  ogImage={ogImage}
>
  {
    data.coverImage && data.coverAlt && !data.images && (
      <div class='project-cover-container'>
        <Picture
          src={data.coverImage}
          alt={data.coverAlt}
          class={`project-cover`}
        />
      </div>
    )
  }
  {!data.coverImage && <div class='spacer' />}
  {
    data.images && (
      <div class='project-cover-container'>
        <Carousel images={data.images} />
      </div>
    )
  }
  {!data.coverImage && <div class='spacer' />}
  <div class='status-indicator-container'>
    <StatusIndicator status={data.status} />
  </div>
  <div class='post-title-container'>
    <h1 class='post-title'>{data.title}</h1>
    <div class='project-share-container'>
      <ShareButton title={data.title} description={data.description} />
    </div>
  </div>

  <div class='project-info-container'>
    <div class='project-date-info-container'>
      <div class='date-info-item'>
        <p class='published-label'>Date Published</p>
        <Chip icon='ri-calendar-line'>
          {
            data.pubDate.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }
        </Chip>
      </div>
      {
        data.updatedDate && (
          <div class='date-info-item'>
            <p class='published-label'>Last Update</p>
            <Chip icon='ri-calendar-line'>
              {data.updatedDate.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </Chip>
          </div>
        )
      }
    </div>

    <div class='project-meta-row'>
      {
        data.category && (
          <Badge
            icon='ri-folder-3-line'
            url={`/projects/frontend/categories/${slugify(data.category)}`}
            color={colorFromString(data.category)}
          >
            {data.category}
          </Badge>
        )
      }
      {
        data.tags && (
          <ul class='tags-list'>
            {data.tags.map((tag) => (
              <li class='tags-list-item'>
                <Tag
                  label={tag}
                  style='simple'
                  url={`/projects/frontend/tags/${slugify(tag)}`}
                />
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </div>

  {
    hasProjectLinks && (
      <ul class='project-links-list'>
        {data.demoUrl && (
          <li>
            <a href={data.demoUrl} title='Live Demo' class='project-link'>
              <span class='visually-hidden'>Live Demo</span>
              <span class='ri-play-large-line' />
            </a>
          </li>
        )}
        {data.repositoryUrl && (
          <li>
            <a
              href={data.repositoryUrl}
              title='Repository'
              class='project-link'
            >
              <span class='visually-hidden'>Repository</span>
              <span class=' ri-git-repository-line' />
            </a>
          </li>
        )}
        {data.frontendmentorUrl && (
          <li>
            <a
              href={data.frontendmentorUrl}
              title='Frontend Mentor Page'
              class='project-link'
            >
              <span class='visually-hidden'>Frontend Mentor Page</span>
              <span class=' ri-pencil-ruler-2-line' />
            </a>
          </li>
        )}
      </ul>
    )
  }

  <article>
    <Content />
  </article>
</Base>

<style lang='scss'>
  @use '../../../styles/variables.scss' as *;

  .post-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .status-indicator-container {
    position: relative;
    left: 0.25rem;
    margin-top: 1rem;
  }

  .spacer {
    content: '';
    height: 2.5rem;
  }

  p.published-label {
    font-size: 0.85rem;
    margin: 0;
    color: var(--clr-text-2);
  }

  a.project-link {
    --size: 2.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--size);
    width: var(--size);

    background-color: var(--clr-surface-1);

    color: var(--clr-text-1);
    font-size: 1.25rem;
    text-decoration: none;

    border-radius: 50%;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: var(--clr-surface-2);

    transition-property: outline-color, color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  a.project-link:hover {
    background-color: var(--clr-surface-2);
    color: var(--clr-text-0);
    outline-color: var(--clr-overlay-0);
  }

  h1 {
    margin: 0;
    line-height: 1.75ch;
  }

  article {
    background-color: var(--clr-surface-0);
    padding-inline: 2rem;
    padding-block: 1rem;

    border-radius: 16pt;
  }

  .project-cover-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 6rem;
    overflow: hidden;
    border-radius: 16pt;
  }

  .project-cover {
    position: relative;
    aspect-ratio: 16 / 10;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }

  .project-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin-bottom: 1rem;
  }

  .project-meta-row {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.6rem;
  }

  ul.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;

    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  .project-date-info-container {
    display: flex;
    gap: 2rem;
  }

  ul.project-links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;

    padding: 0;
    margin: 0.5rem 0 0 0;

    list-style-type: none;
  }

  .project-share-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
  }

  @media screen and (width < $width-mobile-2) {
    h1 {
      font-size: 2rem;
    }

    article {
      padding: 0;
      background-color: transparent;
    }

    .post-title-container {
      flex-direction: column;
      align-items: start;
    }

    .project-share-container {
      margin-left: 0;
    }

    .project-info-container {
      flex-direction: column;
      align-items: start;
    }

    .project-meta-row {
      align-items: start;
    }
  }
</style>
