---
import type { Page } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import Base from '@layouts/Base.astro';
import Paginator from '@components/Paginator.astro';
import BlogCard from '@components/cards/BlogCard.astro';
import FrontendProjectCard from '@components/cards/FrontendProjectCard.astro';
import DirectoryHero from '@components/DirectoryHero.astro';
import DirectoryFields from '@components/DirectoryFields.astro';
import type { Collection } from '@scripts/types';
import { getCategories, getTags } from '@scripts/fieldDataUtils';
import MasonryCard from '@/components/MasonryCard.astro';
import MasonryLayout from '@components/MasonryLayout.astro';

type Props = {
  page: Page;
  collection: Collection;
  heroTitle: string;
  heroIcon?: string;
  heroSubtitle?: string;
  heroSubtitleIcon?: string;
  pageTitle?: string;
  route: string;
  image?: ImageMetadata;
  showFeatured?: boolean;
  heroDescription?: string;
  layout?: 'card-list' | 'masonry';
};

const {
  page,
  collection,
  heroTitle,
  heroIcon,
  heroSubtitle,
  heroSubtitleIcon,
  pageTitle,
  route,
  image,
  showFeatured = true,
  heroDescription = '',
  layout = 'card-list',
} = Astro.props;

const allItems = await getCollection(collection);
const featuredItem = allItems
  .filter((item) => item.data.featured)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())[0];

const listItems =
  featuredItem && showFeatured && page.currentPage === 1
    ? page.data.filter((item) => item.id !== featuredItem.id)
    : page.data;

const categories: { name: string; count: number }[] =
  await getCategories(collection);
const tags: { name: string; count: number }[] = await getTags(collection);
---

<Base title={pageTitle}>
  <DirectoryHero
    title={heroTitle}
    titleIcon={heroIcon}
    subtitle={heroSubtitle}
    subtitleIcon={heroSubtitleIcon}
    image={image}
    description={heroDescription}
  />

  {
    layout === 'card-list' && (
      <div class='directory-content-container'>
        {featuredItem && showFeatured && page.currentPage === 1 && (
          <div class='featured-container'>
            {collection === 'blog' && (
              <>
                <p class='featured-label'>Featured Post</p>
                <BlogCard
                  post={featuredItem as CollectionEntry<'blog'>}
                  inList={true}
                  skew={false}
                />
              </>
            )}
            {collection === 'frontendProjects' && (
              <>
                <p class='featured-label'>Featured Project</p>
                <FrontendProjectCard
                  project={featuredItem as CollectionEntry<'frontendProjects'>}
                  inList={true}
                  skew={false}
                />
              </>
            )}
            <hr class='featured-hr' />
          </div>
        )}
        <div class='page-content-container'>
          <div class='directory-fields-container'>
            <DirectoryFields
              categories={categories}
              tags={tags}
              route={route}
            />
          </div>
          <ul class='collections-list page-content'>
            {collection === 'blog' &&
              listItems.map((post) => <BlogCard post={post} inList={true} />)}
            {collection === 'frontendProjects' &&
              listItems.map((project) => (
                <FrontendProjectCard project={project} inList={true} />
              ))}
          </ul>
          <div class='paginator-container'>
            <Paginator page={page} />
          </div>
        </div>
      </div>
    )
  }

  {
    layout === 'masonry' && (
      <div class='masonry-container'>
        <MasonryLayout>
          {page.data.map((entry) => (
            <MasonryCard
              image={entry.data.coverImage!}
              imageAlt={entry.data.coverImage!.alt || entry.data.title}
              title={entry.data.title}
              category={entry.data.category}
              href={`/projects/graphic-design/${entry.id}`}
            />
          ))}
        </MasonryLayout>
        <div class='paginator-container'>
          <Paginator page={page} />
        </div>
        <div class='directory-fields-container'>
          <DirectoryFields
            categories={categories}
            tags={tags}
            route={route}
            layout='masonry'
          />
        </div>
      </div>
    )
  }

  <style lang='scss'>
    @use '../styles/variables.scss' as *;

    .masonry-container {
      margin-block: 2rem;
    }

    ul.collections-list {
      container-type: inline-size;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      list-style-type: none;
      padding: 0;
    }

    .directory-content-container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .page-content-container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        'fields content'
        'paginator paginator';
      gap: 3rem;
    }

    .page-content {
      grid-area: content;
    }

    .featured-container {
      position: relative;
    }

    .featured-label {
      color: var(--clr-primary);
      text-transform: uppercase;
      letter-spacing: 0.1ch;
      font-size: 1rem;

      margin-top: 0;
      margin-bottom: 0.5rem;
      margin-left: 0.06rem;

      transform: scaleY(95%);
    }

    hr.featured-hr {
      margin-top: 2.5rem;
      margin-bottom: -1rem;

      height: 0.125rem;

      background-color: var(--clr-overlay-0);
      background: linear-gradient(
        to right,
        transparent,
        var(--clr-overlay-0),
        transparent
      );
    }

    .directory-fields-container {
      grid-area: fields;
    }

    .paginator-container {
      margin-top: auto;
      grid-column: 1 / -1;
      grid-area: paginator;
    }

    @media screen and (width < $width-desktop-1) {
      .page-content-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          'fields'
          'content'
          'paginator';
      }
    }

    @media screen and (width < $width-mobile-1) {
      .page-content-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          'content'
          'paginator'
          'fields';
      }

      .featured-container {
        margin-top: 1rem;
      }

      hr.featured-hr {
        margin-top: 1rem;
        margin-bottom: -1rem;
      }

      ul.collections-list {
        gap: 2.5rem;
      }
    }
  </style>
</Base>
