---
import type { CollectionEntry } from 'astro:content';
import Chip from '@components/Chip.astro';
import Badge from '@components/Badge.astro';
import slugify from '@scripts/slugify';

interface Props {
  post: CollectionEntry<'blog'>;
  skew?: boolean;
}

const { post, skew = true } = Astro.props;
---

<div class='card-meta-container' data-skew={skew}>
  <Badge
    icon='ri-folder-3-line'
    url={`/blog/categories/${slugify(post.data.category as string)}`}
  >
    {post.data.category}
  </Badge>
  <Chip icon='ri-calendar-line'>
    {
      post.data.pubDate.toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  </Chip>
</div>
<h3 class='truncate card-title' data-skew={skew}>
  <a href={`/blog/${post.id}`}>{post.data.title}</a>
</h3>
<p class='card-description truncate-2' data-skew={skew}>
  {post.data.description}
</p>
<div class='card-footer'>
  {
    post.data.tags && (
      <ul class='post-tags-list'>
        {post.data.tags.slice(0, 3).map((tag) => (
          <li class='post-tag-list-item'>{tag}</li>
        ))}
      </ul>
    )
  }
</div>

<style>
  h3 a {
    position: relative;

    color: var(--clr-text);
    text-decoration: none;
  }

  h3 a:hover {
    color: var(--clr-primary);
  }

  h3 a::after {
    content: '';
    position: absolute;
    bottom: -0.2ch;
    left: 0;

    width: 0;
    height: 2px;

    background-color: var(--clr-primary);

    transition: width 100ms ease-out;
  }

  h3 a:hover::after {
    width: 100%;
  }

  h3.card-title {
    font-size: 1.5rem;
    font-weight: 500;

    margin-left: -3rem;
  }

  h3.card-title[data-skew='false'] {
    margin-left: 0;
  }

  .card-meta-container {
    display: flex;
    align-items: start;
    gap: 1rem;

    margin-block: 0.25rem;
    margin-left: -4rem;

    height: fit-content;
  }

  .card-meta-container[data-skew='false'] {
    margin-left: 0;
  }

  p.card-description {
    color: var(--clr-subtext-1);
  }

  p.card-description[data-skew='true'] {
    margin-left: -1.5rem;
  }

  p.card-description[data-skew='false'] {
    margin-left: 0;
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul.post-tags-list {
    display: flex;
    gap: 1rem;

    padding: 0;
    list-style-type: none;
  }

  li.post-tag-list-item {
    font-size: 0.75rem;
    color: var(--clr-subtext-0);
  }
</style>
