---
import { Picture } from 'astro:assets';

type Props = {
  title: string;
  paragraph: string;
  id?: string;
  imageSrc?: ImageMetadata;
  imageAlt?: string;
  imageOverlay?: boolean;
};

const {
  title,
  paragraph,
  id = 'about',
  imageSrc,
  imageAlt = '',
  imageOverlay = true,
} = Astro.props;
---

<section class='about-section' id={id}>
  {
    imageSrc && (
      <div class='about-image-container' data-image-overlay={imageOverlay}>
        <Picture
          src={imageSrc}
          alt={imageAlt}
          formats={['avif', 'webp']}
          class='about-image'
        />
      </div>
    )
  }
  <div class='about-content-container'>
    <h2>{title}</h2>
    <p>{paragraph}</p>
  </div>
</section>

<style>
  section.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .about-image-container {
    isolation: isolate;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 3 / 4;

    max-width: 50%;
    width: 100%;

    border-radius: 16pt;
  }

  .about-image-container::after {
    content: '';
    position: absolute;
    top: 49%;
    left: 51%;

    height: 105%;
    width: 105%;

    outline: 1px solid var(--clr-surface-2);
    border-radius: 16pt;

    transform: rotate(0.5deg) translateX(-51%) translateY(-49%);

    z-index: -1;
  }

  .about-image-container::before {
    content: '';
    position: absolute;
    top: 52%;
    left: 48%;

    height: 105%;
    width: 105%;

    outline: 1px solid var(--clr-overlay-1);
    border-radius: 16pt;

    transform: rotate(-0.5deg) translateX(-49%) translateY(-51%);

    z-index: -1;
  }

  picture {
    isolation: isolate;
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 16pt;
    overflow: hidden;
  }

  picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: var(--clr-base-2);

    mix-blend-mode: color;

    z-index: 10;
  }

  picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: oklch(
      from var(--clr-primary) calc(l - 0.5) calc(c - 0.15) h
    );

    mix-blend-mode: color;

    z-index: 5;
  }

  .about-image-container[data-image-overlay='false'] > picture::after,
  .about-image-container[data-image-overlay='false'] > picture::before {
    display: none;
  }

  img.about-image {
    display: block;

    isolation: isolate;
    position: relative;

    object-fit: cover;
    object-position: center;

    height: 100%;
    width: 100%;
  }

  .about-content-container {
    width: 50%;
  }
</style>
