---
import Button from '@components/Button.svelte';
import SocialLinks from '@components/SocialLinks.astro';
import StyledHr from '@components/StyledHr.astro';
import ParticleBackground from '@components/ParticleBackground.astro';
import VideoBackground from '@components/VideoBackground.astro';

type CallToAction = {
  label: string;
  url?: string;
};

type Props = {
  title?: string;
  subtitle?: string;
  summary?: string;
  primaryCta?: CallToAction;
  secondaryCta?: CallToAction;
  enableSocialLinks?: boolean;
  clipPath?: boolean;
  variant?: 'primary' | 'alternate';
};

const {
  title,
  subtitle,
  summary,
  primaryCta,
  secondaryCta,
  enableSocialLinks = false,
  clipPath = false,
  variant = 'primary',
} = Astro.props;
---

<section
  class='hero full-width content-grid'
  id='hero'
  data-clip-path={clipPath}
>
  <VideoBackground clipPath={clipPath} />
  <ParticleBackground clipPath={clipPath} />
  {
    variant === 'primary' && (
      <h1 class='title-l hero-title hero-primary'>{title}</h1>
      <StyledHr />
      <h2 class='heading-4 hero-subtitle hero-primary'>{subtitle}</h2>
    )
  }
  {
    variant === 'alternate' && (
      <h1 class='title-l hero-title hero-alternate'>{title}</h1>
      <h2 class='heading-4 hero-subtitle hero-alternate'>{subtitle}</h2>
      <StyledHr />
    )
  }
  {
    enableSocialLinks && (
      <div class='social-links-wrapper'>
        <SocialLinks />
      </div>
    )
  }
  {summary && <p>{summary}</p>}
  <div class='cta-buttons'>
    {
      primaryCta && (
        <Button
          link={primaryCta.url}
          label={primaryCta!.label}
          variant='primary'
        />
      )
    }

    {
      secondaryCta && (
        <Button
          link={secondaryCta.url}
          label={secondaryCta!.label}
          variant='secondary'
        />
      )
    }
  </div>
</section>

<style>
  :global(:root[data-color-scheme='dark']) .hero-subtitle {
    --subtitle-clr-text: oklch(from var(--clr-primary) calc(l + 0.1) c h);
  }

  :global(:root[data-color-scheme='light']) .hero-subtitle {
    --subtitle-clr-text: var(--clr-primary);
  }

  section.hero {
    position: relative;

    align-content: center;
    align-items: start;
    gap: 1rem;

    min-height: 100vh;

    margin-top: calc(var(--appbar-height) * -1);
  }

  section.hero[data-clip-path='false'] {
    padding-bottom: 10rem;
  }

  section.hero[data-clip-path='true'] {
    padding-bottom: 20rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--clr-text);

    font-size: 1.25rem;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: -1rem;

    font-weight: 900;
  }

  .hero-subtitle {
    margin: 0;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--subtitle-clr-text);
    text-transform: uppercase;
    letter-spacing: 0.2ch;
  }

  .social-links-wrapper {
    justify-self: start;
    margin-block: 1rem;
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
  }

  /* --- Alternate Style --- */
  .hero-title.hero-alternate {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.4ch;
    transform: scaleY(95%);
  }

  .hero-subtitle.hero-alternate {
    margin-top: -1.75rem;
    margin-bottom: 0.75rem;

    color: var(--clr-subtext-1);
    text-transform: capitalize;
    letter-spacing: 0.05ch;
    font-weight: 400;
    font-size: 2rem;

  }
</style>
