---
import Button from '@components/Button.svelte';
import SocialLinks from '@components/SocialLinks.astro';
import StyledHr from '@components/StyledHr.astro';
import ParticleBackground from '@components/ParticleBackground.astro';
import VideoBackground from '@components/VideoBackground.astro';

type CallToAction = {
  label: string;
  url?: string;
};

type Props = {
  title?: string;
  subtitle?: string;
  summary?: string;
  primaryCta?: CallToAction;
  secondaryCta?: CallToAction;
  enableSocialLinks?: boolean;
};

const {
  title,
  subtitle,
  summary,
  primaryCta,
  secondaryCta,
  enableSocialLinks = false,
} = Astro.props;
---

<section class='hero full-width content-grid' id='hero'>
  <VideoBackground />
  <ParticleBackground clipPath={true} />
  {title && <h1 class='title-l hero-title'>{title}</h1>}
  <StyledHr />
  {subtitle && <h2 class='heading-4 hero-subtitle'>{subtitle}</h2>}
  {
    enableSocialLinks && (
      <div class='social-links-wrapper'>
        <SocialLinks />
      </div>
    )
  }
  {summary && <p>{summary}</p>}
  <div class='cta-buttons'>
    {
      primaryCta && (
        <Button
          link={primaryCta.url}
          label={primaryCta!.label}
          variant='primary'
        />
      )
    }

    {
      secondaryCta && (
        <Button
          link={secondaryCta.url}
          label={secondaryCta!.label}
          variant='secondary'
        />
      )
    }
  </div>
</section>

<style>
  :global(:root[data-color-scheme='dark']) .hero-subtitle {
    --subtitle-clr-text: oklch(from var(--clr-primary) calc(l + 0.1) c h);
  }

  :global(:root[data-color-scheme='light']) .hero-subtitle {
    --subtitle-clr-text: var(--clr-primary);
  }

  section.hero {
    position: relative;

    align-content: center;
    align-items: start;
    gap: 1rem;

    min-height: 100svh;

    padding-bottom: 20rem;
  }

  p {
    margin: 0;
    color: var(--clr-subtext-1);
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: -1rem;

    font-weight: 900;
  }

  .hero-subtitle {
    margin: 0;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--subtitle-clr-text);
    text-transform: uppercase;
    letter-spacing: 0.2ch;
  }

  .social-links-wrapper {
    justify-self: start;
    margin-block: 1rem;
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;
  }
</style>
