---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Button from './Button.svelte';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const postImg: ImageMetadata = post.data.coverImage as ImageMetadata;
---

<article>
  {
    post.data.coverImage && (
      <a href={`/blog/${post.id}`} class='card-img-link'>
        <Picture
          width={800}
          height={800}
          src={postImg}
          alt={post.data.coverAlt ? post.data.coverAlt : ''}
          class='card-img'
          transition:name={`blog-cover-${post.data.title}`}
          formats={['avif', 'webp', 'png']}
        />
      </a>
    )
  }
  <div class='card-content'>
    <h3 class='truncate card-title'>{post.data.title}</h3>
    <p class='card-description truncate-2'>{post.data.description}</p>
    <div class='card-meta-container'>
      <p class='card-pubdate'>{post.data.pubDate}</p>
    </div>
    <Button
      label='Read More'
      variant='secondary'
      link={`/blog/${post.id}`}
      iconPosition='right'
      icon='ri-arrow-right-line'
      style='simple'
    />
  </div>
</article>

<style>
  article {
    display: grid;
    gap: 1rem;

    background-color: var(--clr-surface-0);

    border-radius: 8pt;

    overflow: hidden;

    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  article:nth-child(odd) {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'image content';
  }

  article:nth-child(even) {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 'content image';
  }

  article:hover {
    background-color: var(--clr-surface-1);
  }

  .card-content {
    grid-area: content;

    display: grid;
    grid-template-rows: auto 1fr auto;

    max-width: 100%;

    padding-block: 1rem;
  }

  article:nth-child(odd) > .card-content {
    padding-right: 1rem;
  }

  article:nth-child(even) > .card-content {
    padding-left: 1rem;
  }

  a.card-img-link {
    grid-area: image;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    overflow: hidden;
  }

  picture {
    height: 100%;
    width: 100%;

    aspect-ratio: 16 / 9;
  }

  img.card-img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }

  h3.card-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p.card-description {
    color: var(--clr-subtext-1);
  }
</style>
