---
import { Picture } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  imageAlt: string;
  link?: string;
  skew?: boolean;
}

const { image, imageAlt, link, skew = true } = Astro.props;
---

{
  link ? (
    <a href={link} class='card-image-container' data-skew={skew}>
      <Picture
        width={800}
        height={800}
        src={image}
        alt={imageAlt ? imageAlt : ''}
        class='card-img'
        formats={['avif', 'webp', 'png']}
      />
    </a>
  ) : (
    <div class='card-image-container' data-skew={skew}>
      <Picture
        width={800}
        height={800}
        src={image}
        alt={imageAlt ? imageAlt : ''}
        class='card-img'
        formats={['avif', 'webp', 'png']}
      />
    </div>
  )
}

<style>
  .card-image-container {
    position: relative;

    grid-area: image;
  }

  .card-image-container[data-skew='true'] {
    display: flex;
  }

  picture {
    position: relative;
    border-radius: 16pt;
    overflow: hidden;
  }

  picture::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: inherit;
    padding: 0.2rem;

    background: linear-gradient(
      var(--border-direction, to right),
      var(--clr-primary) 30%,
      transparent 50%
    );
    background-size: 300% 100%;
    background-position: var(--border-pos, 100% 0);

    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    -webkit-mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    mask-clip: content-box, border-box;
    mask-composite: exclude;

    pointer-events: none;
    transition: background-position 500ms ease-in-out;
  }

  picture:hover::before {
    background-position: var(--border-pos-hover, 0% 0);
  }

  .card-image-container[data-skew='true'] picture {
    transform: skewX(calc(var(--skew)));
  }

  .card-image-container[data-skew='true'] img.card-img {
    transform: skewX(calc(var(--skew) * -1)) scale(1.35);
  }

  .card-image-container[data-skew='false'] picture {
    border-radius: var(--img-border-radius, 0);
  }

  img.card-img {
    height: 100%;
    max-height: var(--card-height);

    object-fit: cover;
    object-position: center;
  }

  .card-image-container img {
    filter: grayscale(var(--img-grayscale, 0));
    opacity: var(--img-opacity, 1);

    transition-property: filter, transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
  }

  .card-image-container[data-skew='true'] img:hover {
    transform: skewX(calc(var(--skew) * -1)) scale(1.45);
  }

  .card-image-container[data-skew='false'] img:hover {
    transform: scale(1.05);
  }
</style>
