---
import CardImage from '@components/CardImage.astro';

interface Props {
  image?: ImageMetadata;
  imageAlt?: string;
  link?: string;
  skew?: boolean;
  id?: string;
}

const { image, imageAlt, link, skew = true, id } = Astro.props;
---

<article data-skew={skew} data-scroll-animate>
  {
    image && imageAlt && (
      <CardImage
        skew={skew}
        image={image}
        imageAlt={imageAlt}
        link={link}
        id={id}
      />
    )
  }
  <div class='card-content'>
    <slot />
  </div>

  <style>
    article {
      --skew: 20deg;
      --card-border-radius: 16pt;
      --card-height: 14rem;
      --skew-offset: calc(var(--card-height) * tan(var(--skew)));

      --img-grayscale: 40%;
      --img-opacity: 0.8;
      --img-border-radius: 0;

      position: relative;

      height: var(--card-height);

      display: grid;
      gap: 1rem;
    }

    article[data-skew='true'] {
      margin-inline: 1.75rem;
    }

    article::after {
      content: '';
      position: absolute;
      top: 0;

      height: 100%;

      background-color: var(--clr-surface-0);

      border-radius: var(--card-border-radius);

      z-index: -1;

      transition-property: background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    article[data-skew='false']::after {
      width: 100%;
      left: 0;
    }

    article[data-skew='true']::after {
      transform: skew(var(--skew));
      width: 100%;
    }

    article:hover::after {
      background-color: var(--clr-surface-1);
    }

    article:hover {
      --img-grayscale: 0%;
      --img-opacity: 1;
    }

    article:nth-child(odd) {
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'image content';
    }

    article:nth-child(even) {
      grid-template-columns: 3fr 2fr;
      grid-template-areas: 'content image';
    }

    .card-content {
      grid-area: content;

      display: grid;

      max-width: 100%;

      padding-block: 1rem;
    }

    article[data-skew='true']:nth-child(odd) > .card-content {
      padding-right: 7rem;
      margin-left: 2rem;
      padding-left: 1rem;
    }

    article[data-skew='true']:nth-child(even) > .card-content {
      padding-left: 4rem;
      margin-right: 4rem;
      padding-right: 1rem;
    }

    article[data-skew='false']:nth-child(odd) > .card-content {
      padding-right: 1rem;
    }

    article[data-skew='false']:nth-child(even) > .card-content {
      padding-left: 1rem;
    }

    article[data-skew='false']:nth-child(odd) {
      --img-border-radius: var(--card-border-radius) 0 0
        var(--card-border-radius);
    }

    article[data-skew='false']:nth-child(even) {
      --img-border-radius: 0 var(--card-border-radius) var(--card-border-radius)
        0;
    }

    /* --- Scroll animations --- */

    @media (prefers-reduced-motion: no-preference) {
      article[data-scroll-animate] {
        opacity: 0;
      }

      article[data-scroll-animate]:nth-child(even) {
        --slide-from: 4rem;
      }

      article[data-scroll-animate].visible {
        animation-name: slide-fade-in;
        animation-duration: 500ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }

      @keyframes slide-fade-in {
        from {
          opacity: 0;
          transform: translateX(var(--slide-from, -4rem));
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  </style>
</article>
