---
import { Picture } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  imageAlt: string;
  link?: string;
  skew?: boolean;
  id?: string;
}

const { image, imageAlt, link, skew = true, id } = Astro.props;
---

<article data-skew={skew} data-scroll-animate>
  {
    image && link ? (
      <a
        href={link}
        class='card-image-container'
        transition:name={`blog-img-${id}`}
      >
        <Picture
          width={800}
          height={800}
          src={image}
          alt={imageAlt ? imageAlt : ''}
          class='card-img'
          formats={['avif', 'webp', 'png']}
        />
      </a>
    ) : (
      <div class='card-image-container' transition:name={`blog-img-${id}`}>
        <Picture
          width={800}
          height={800}
          src={image}
          alt={imageAlt ? imageAlt : ''}
          class='card-img'
          formats={['avif', 'webp', 'png']}
        />
      </div>
    )
  }
  <div class='card-content'>
    <slot />
  </div>

  <style>
    article {
      --skew: 20deg;
      --card-border-radius: 16pt;
      --card-height: 14rem;
      --skew-offset: calc(var(--card-height) * tan(var(--skew)));

      position: relative;

      height: var(--card-height);

      display: grid;
      gap: 1rem;
    }

    article[data-skew='true'] {
      margin-inline: 1.75rem;
    }

    article::after {
      content: '';
      position: absolute;
      top: 0;

      height: 100%;

      background-color: var(--clr-surface-0);

      border-radius: var(--card-border-radius);

      z-index: -1;

      transition-property: background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    article[data-skew='false']::after {
      width: 100%;
      left: 0;
    }

    article[data-skew='true']::after {
      transform: skew(var(--skew));
      width: 100%;
    }

    article:hover::after {
      background-color: var(--clr-surface-1);
    }

    article:nth-child(odd) {
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'image content';
    }

    article:nth-child(even) {
      grid-template-columns: 3fr 2fr;
      grid-template-areas: 'content image';
    }

    .card-content {
      grid-area: content;

      display: grid;

      max-width: 100%;

      padding-block: 1rem;
    }

    article[data-skew='true']:nth-child(odd) > .card-content {
      padding-right: 7rem;
      margin-left: 2rem;
      padding-left: 1rem;
    }

    article[data-skew='true']:nth-child(even) > .card-content {
      padding-left: 4rem;
      margin-right: 4rem;
      padding-right: 1rem;
    }

    article[data-skew='false']:nth-child(odd) > .card-content {
      padding-right: 1rem;
    }

    article[data-skew='false']:nth-child(even) > .card-content {
      padding-left: 1rem;
    }

    /* --- Card Image --- */

    .card-image-container {
      isolation: isolate;
      position: relative;

      grid-area: image;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      outline-width: 0.2rem;
      outline-style: solid;
      outline-color: transparent;
      outline-offset: -1px;

      transition-property: outline-color;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    article[data-skew='true'] > .card-image-container {
      transform: skewX(var(--skew));
      border-radius: var(--card-border-radius);
    }

    .card-image-container:hover {
      outline-color: var(--clr-primary);
    }

    article[data-skew='false']:nth-child(odd) > .card-image-container {
      left: 0;
      border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
    }

    article[data-skew='false']:nth-child(even) > .card-image-container {
      right: 0;
      border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
    }

    picture {
      height: 100%;
      width: 100%;
    }

    article[data-skew='true'] > .card-image-container picture {
      transform: skewX(calc(var(--skew) * -1)) scale(1.3);
    }

    img.card-img {
      height: 100%;
      width: 100%;

      object-fit: cover;
      object-position: center;
    }

    .card-image-container picture {
      filter: grayscale(40%);
      opacity: 0.8;

      transition-property: filter, transform, opacity;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    article:hover > .card-image-container picture {
      filter: grayscale(0);
      opacity: 1;
    }

    article[data-skew='true'] > .card-image-container picture:hover {
      transform: skewX(calc(var(--skew) * -1)) scale(1.32);
    }

    article[data-skew='false'] > .card-image-container picture:hover {
      transform: scale(1.05);
    }

    /* --- Scroll animations --- */

    @media (prefers-reduced-motion: no-preference) {
      article[data-scroll-animate] {
        opacity: 0;
      }

      article[data-scroll-animate]:nth-child(even) {
        --slide-from: 4rem;
      }

      article[data-scroll-animate].visible {
        animation-name: slide-fade-in;
        animation-duration: 500ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }

      @keyframes slide-fade-in {
        from {
          opacity: 0;
          transform: translateX(var(--slide-from, -4rem));
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  </style>
</article>
