---
import { Picture } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  imageAlt: string;
  link?: string;
  skew?: boolean;
  id?: string;
}

const { image, imageAlt, link, skew = true, id } = Astro.props;
---

{
  link ? (
    <a
      href={link}
      class='card-image-container'
      data-skew={skew}
      transition:name={`blog-img-${id}`}
    >
      <Picture
        width={800}
        height={800}
        src={image}
        alt={imageAlt ? imageAlt : ''}
        class='card-img'
        formats={['avif', 'webp', 'png']}
      />
    </a>
  ) : (
    <div
      class='card-image-container'
      data-skew={skew}
      transition:name={`blog-img-${id}`}
    >
      <Picture
        width={800}
        height={800}
        src={image}
        alt={imageAlt ? imageAlt : ''}
        class='card-img'
        formats={['avif', 'webp', 'png']}
      />
    </div>
  )
}

<style>
  .card-image-container {
    position: relative;

    grid-area: image;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  picture:hover {
    outline-color: var(--clr-primary);
  }

  picture {
    border-radius: 16pt;
    overflow: hidden;

    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: transparent;
    outline-offset: -1px;

    transition-property: outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .card-image-container[data-skew='true'] picture {
    transform: skewX(calc(var(--skew)));
  }

  .card-image-container[data-skew='true'] img.card-img {
    transform: skewX(calc(var(--skew) * -1)) scale(1.2);
  }

  .card-image-container[data-skew='false'] picture {
    border-radius: var(--img-border-radius, 0);
  }

  img.card-img {
    height: 100%;
    max-height: var(--card-height);

    object-fit: cover;
    object-position: center;
  }

  .card-image-container img {
    filter: grayscale(var(--img-grayscale, 0));
    opacity: var(--img-opacity, 1);

    transition-property: filter, transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
  }

  .card-image-container[data-skew='true'] img:hover {
    transform: skewX(calc(var(--skew) * -1)) scale(1.4);
  }

  .card-image-container[data-skew='false'] img:hover {
    transform: scale(1.05);
  }
</style>
