---
type Props = {
  categories: { name: string; count: number }[];
  tags: { name: string; count: number }[];
  route: string;
};

const { categories, tags, route } = Astro.props;
---

<aside
  class='directory-fields-container'
  transition:name='directory-fields'
  id='directory-fields'
>
  <div class='directory-field-container categories-container'>
    <a class='directory-field-title' href={`${route}/categories`}>
      <span class='ri-apps-2-line'></span>
      <span>Categories</span>
    </a>
    <ul class='categories-list'>
      {
        categories.slice(0, 4).map(({ name, count }) => (
          <li>
            <a
              class='category-label'
              href={`${route}/categories/${name.toLowerCase()}`}
            >
              <p>{name}</p>
              <div class='separator' />
              <p class='category-count'>{count}</p>
            </a>
          </li>
        ))
      }
    </ul>
    <a class='btn-view-all' href={`${route}/categories`}>
      <span>View All</span>
      <span class='ri-arrow-right-line btn-view-all-icon'></span>
    </a>
  </div>
  <div class='directory-field-container tags-container'>
    <a class='directory-field-title' href={`${route}/tags`}>
      <span class='ri-bookmark-line'></span>
      <span>Tags</span>
    </a>
    <ul class='tags-list'>
      {
        tags.slice(0, 8).map((tag) => (
          <li>
            <a
              href={`${route}/tags/${tag.name.toLowerCase()}`}
              class='tag-label'
            >
              <span class='tag-hashtag'>#</span>
              <span>{tag.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <a class='btn-view-all' href={`${route}/tags`}>
      <span>View All</span>
      <span class='ri-arrow-right-line btn-view-all-icon'></span>
    </a>
  </div>
</aside>

<style>
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    list-style-type: none;
    padding-inline: 1rem;
    margin: 0;
  }

  .directory-fields-container {
    position: sticky;
    top: 0;
    align-self: start;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 1rem;

    transition: top 200ms ease-out;
  }

  :global(:root[data-appbar-hidden='false']) .directory-fields-container {
    top: calc(var(--appbar-height) + 1rem);
  }

  :global(:root[data-appbar-hidden='true']) .directory-fields-container {
    top: 0;
  }

  .directory-field-container {
    background-color: var(--clr-surface-0);

    border-radius: 4pt;
    overflow: hidden;

    min-height: fit-content;

    outline: 1px solid var(--clr-surface-1);
  }

  .directory-field-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.25rem;

    font-size: 0.85rem;
    font-weight: 600;
    color: var(--clr-subtext-0);
    text-transform: uppercase;
    letter-spacing: 0.2ch;

    background-color: var(--clr-surface-1);

    padding-inline: 1rem;
    padding-block: 0.8rem;

    margin: 0;

    width: 100%;

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .directory-field-title:hover {
    background-color: var(--clr-surface-2);
    color: var(--clr-text);
  }

  ul.categories-list {
    flex-direction: column;
    gap: 0.6rem;
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .category-label {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    font-size: 0.85rem;
    font-weight: 500;
    color: var(--clr-subtext-0);

    background-color: oklch(
      from var(--clr-surface-0) calc(l + 0.05) calc(c + 0.01) h
    );

    border-radius: 4pt;

    margin: 0;

    padding-block: 0.6rem;
    padding-inline: 1rem;

    width: 100%;

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .category-label:hover {
    background-color: var(--clr-surface-1);
    color: var(--clr-text);
  }

  .category-count {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    background-color: var(--clr-surface-2);

    border-radius: 50%;

    height: 1.6rem;
    width: 1.6rem;

    aspect-ratio: 1;
  }

  .tags-list {
    display: flex;
    gap: 1rem 0.4rem;
    padding-block: 1rem;
  }

  .tag-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1ch;

    font-size: 0.9rem;
    color: var(--clr-subtext-0);
    background-color: oklch(
      from var(--clr-surface-0) calc(l + 0.05) calc(c + 0.01) h
    );

    padding-inline: 1rem;
    padding-top: 0.35rem;
    padding-bottom: 0.4rem;

    margin: 0;

    border-radius: 999px;

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .tag-label:hover {
    color: var(--clr-text);
    background-color: var(--clr-surface-2);
  }

  .tag-hashtag {
    position: relative;
    top: 0.05rem;

    font-size: 1rem;
    font-weight: 500;

    color: oklch(from var(--clr-subtext-0) calc(l - 0.25) c h);

    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .tag-label:hover > .tag-hashtag {
    color: var(--clr-subtext-0);
  }

  .separator {
    display: flex;

    content: '';

    position: relative;
    bottom: 0.3rem;

    border-bottom: 0.135rem dotted var(--clr-subtext-0);

    margin-inline: auto;

    width: calc(100% - 0.5rem);
    height: 100%;

    opacity: 0.6;

    visibility: hidden;
  }

  .btn-view-all {
    display: flex;
    justify-content: space-between;

    position: relative;

    margin-top: 0.5rem;

    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;

    font-weight: 700;
    color: var(--clr-subtext-0);

    outline: 0.1rem solid var(--clr-surface-1);

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .btn-view-all:hover {
    color: var(--clr-text);
    background-color: var(--clr-surface-1);
    outline-color: var(--clr-surface-2);
  }

  .btn-view-all-icon {
    font-size: 1.25rem;

    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .btn-view-all:hover > .btn-view-all-icon {
    transform: translateX(-0.5rem);
  }
</style>
