---
type Props = {
  icon: string;
  url: string;
  username: string;
  label: string;
  onSurface?: boolean;
};

const { icon, url, username, label, onSurface = false } = Astro.props;
---

<a
  class='platform-card-container'
  href={url}
  target='_blank'
  data-on-surface={onSurface}
>
  <span class={`platform-card-icon ${icon}`}></span>
  <p class='platform-card-label'>{label}</p>
  <p class='platform-card-username'>{username}</p>
  <span class={`platform-card-link-icon ri-external-link-line`}></span>
</a>

<style>
  p {
    margin: 0;
  }

  a.platform-card-container,
  .platform-card-username,
  .platform-card-link-icon {
    transition-property: color, outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  a.platform-card-container {
    display: grid;
    grid-template:
      'platform-icon label link-icon'
      'platform-icon username link-icon'
      / auto 1fr auto;
    gap: 0 1rem;

    background-color: var(--clr-surface-0);

    border-radius: 8pt;
    outline: 1px solid var(--clr-surface-1);

    width: 100%;
    max-width: 40rem;

    padding-block: 1rem;
    padding-inline: 1rem;

    color: var(--clr-text);
    text-decoration: none;
  }

  a.platform-card-container:hover {
    outline-color: var(--clr-primary);
    color: var(--clr-primary);
    background-color: var(--clr-surface-1);
  }

  a.platform-card-container:hover > .platform-card-icon {
    background-color: var(--clr-surface-2);
  }

  a.platform-card-container:hover > .platform-card-username {
    color: var(--clr-primary);
  }

  a.platform-card-container:hover > .platform-card-link-icon {
    color: var(--clr-primary);
  }

  a.platform-card-container[data-on-surface='true'] {
    background-color: var(--clr-surface-1);
    outline: 1px solid var(--clr-surface-2);
  }

  a.platform-card-container[data-on-surface='true']:hover {
    outline-color: var(--clr-primary);
    color: var(--clr-primary);
    background-color: var(--clr-surface-2);
  }

  a.platform-card-container[data-on-surface='true']:hover
    > .platform-card-icon {
    background-color: oklch(from var(--clr-surface-2) calc(l + 0.1) c h);
  }

  .platform-card-icon {
    grid-area: platform-icon;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.75rem;

    height: 100%;
    max-width: fit-content;

    border-radius: 8pt;

    aspect-ratio: 1;

    background-color: var(--clr-surface-1);
  }

  a.platform-card-container[data-on-surface='true'] > .platform-card-icon {
    background-color: oklch(from var(--clr-surface-2) calc(l + 0.01) c h);
  }

  .platform-card-label {
    grid-area: label;
    align-self: end;
  }

  .platform-card-username {
    grid-area: username;
    align-self: start;

    font-size: 0.9rem;
    color: var(--clr-subtext-0);
  }

  .platform-card-link-icon {
    grid-area: link-icon;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;

    color: var(--clr-subtext-0);
  }

  @media screen and (width < 600px) {
    .platform-card-container {
      width: 100%;
    }
  }
</style>
