---
type Props = {
  label: string;
  url?: string;
  style?: 'pill' | 'simple';
};
const { label, url, style = 'pill' } = Astro.props;
---

{
  url ? (
    <a href={url} class={`tag-label tag-style-${style}`}>
      <span class='tag-hashtag'>#</span>
      <span>{label.toLowerCase()}</span>
    </a>
  ) : (
    <p class={`tag-label tag-style-${style}`}>
      <span class='tag-hashtag'>#</span>
      <span>{label.toLowerCase()}</span>
    </p>
  )
}

<style>
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .tag-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1ch;

    margin: 0;

    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .tag-style-pill {
    font-size: 1rem;
    color: var(--clr-text-1);
    background-color: oklch(
      from var(--clr-surface-0) calc(l + 0.05) calc(c + 0.01) h
    );

    padding-inline: 0.6rem;
    padding-top: 0.15rem;
    padding-bottom: 0.2rem;

    border-radius: 999px;
  }

  a.tag-style-pill:hover {
    color: var(--clr-text-0);
    background-color: var(--clr-surface-2);
  }

  .tag-hashtag {
    position: relative;
    top: 0.1rem;

    font-size: 0.85rem;
    font-weight: 500;

    color: oklch(from var(--clr-text-1) calc(l - 0.25) c h);

    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .tag-style-pill:hover > .tag-hashtag {
    color: var(--clr-text-1);
  }

  .tag-style-simple {
    font-size: 0.75rem;
    color: var(--clr-text-1);
  }

  a.tag-style-simple:hover {
    color: var(--clr-text-0);
  }

  .tag-style-simple > .tag-hashtag {
    display: none;
  }
</style>
