---
import type { Page } from 'astro';
import Base from '@layouts/Base.astro';
import Paginator from '@components/Paginator.astro';
import BlogCard from '@components/cards/BlogCard.astro';
import FrontendProjectCard from '@components/cards/FrontendProjectCard.astro';
import DirectoryHero from '@/components/DirectoryHero.astro';
import DirectoryFields from '@/components/DirectoryFields.astro';

type Props = {
  page: Page;
  collection: 'blog' | 'frontendProjects' | 'guides';
  heroTitle: string;
  title?: string;
  categories?: { name: string; count: number }[];
  tags?: { name: string; count: number }[];
  route: string;
};

const {
  page,
  collection,
  heroTitle,
  title,
  categories = [],
  tags = [],
  route,
} = Astro.props;
---

<Base title={title}>
  <DirectoryHero title={heroTitle} />
  <div class='page-content-container'>
    <section class='page-content'>
      <ul>
        {
          collection === 'blog' &&
            page.data.map((post) => <BlogCard post={post} inList={true} />)
        }
        {
          collection === 'frontendProjects' &&
            page.data.map((project) => (
              <FrontendProjectCard project={project} inList={true} />
            ))
        }
      </ul>
    </section>
    <DirectoryFields categories={categories} tags={tags} route={route} />
    <div class='paginator-container'>
      <Paginator page={page} />
    </div>
  </div>

  <style>
    section {
      min-height: calc(100svh - var(--appbar-height));
      display: flex;
      flex-direction: column;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      list-style-type: none;
      padding: 0;
    }

    .page-content-container {
      display: grid;
      grid-template-columns: 7fr 2fr;
      gap: 3rem;
    }

    .paginator-container {
      margin-top: auto;
      grid-column: 1 / -1;
    }
  </style>
</Base>
