---
import type { Page } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import Base from '@layouts/Base.astro';
import Paginator from '@components/Paginator.astro';
import BlogCard from '@components/cards/BlogCard.astro';
import FrontendProjectCard from '@components/cards/FrontendProjectCard.astro';
import DirectoryHero from '@/components/DirectoryHero.astro';
import DirectoryFields from '@/components/DirectoryFields.astro';
import type { Collection } from '@scripts/types';
import { getCategories, getTags } from '@/scripts/fieldDataUtils';

type Props = {
  page: Page;
  collection: Collection;
  heroTitle: string;
  heroSubtitle?: string;
  heroSubtitleIcon?: string;
  pageTitle?: string;
  route: string;
  image?: ImageMetadata;
  showFeatured?: boolean;
  heroDescription?: string;
};

const {
  page,
  collection,
  heroTitle,
  heroSubtitle,
  heroSubtitleIcon,
  pageTitle,
  route,
  image,
  showFeatured = true,
  heroDescription = '',
} = Astro.props;

const allItems = await getCollection(collection);
const featuredItem = allItems
  .filter((item) => item.data.featured)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())[0];

const listItems =
  featuredItem && showFeatured && page.currentPage === 1
    ? page.data.filter((item) => item.id !== featuredItem.id)
    : page.data;

const categories: { name: string; count: number }[] =
  await getCategories(collection);
const tags: { name: string; count: number }[] = await getTags(collection);
---

<Base title={pageTitle}>
  <DirectoryHero
    title={heroTitle}
    subtitle={heroSubtitle}
    subtitleIcon={heroSubtitleIcon}
    image={image}
    description={heroDescription}
  />
  {
    featuredItem && showFeatured && page.currentPage === 1 && (
      <div class='featured-container'>
        {collection === 'blog' && (
          <>
            <p class='featured-label'>Featured Post</p>
            <hr class='featured-hr' />
            <BlogCard
              post={featuredItem as CollectionEntry<'blog'>}
              inList={true}
              skew={false}
            />
          </>
        )}
        {collection === 'frontendProjects' && (
          <>
            <p class='featured-label'>Featured Project</p>
            <hr class='featured-hr' />
            <FrontendProjectCard
              project={featuredItem as CollectionEntry<'frontendProjects'>}
              inList={true}
              skew={false}
            />
          </>
        )}
      </div>
    )
  }
  <div class='page-content-container'>
    <DirectoryFields categories={categories} tags={tags} route={route} />
    <section class='page-content'>
      <ul class='collections-list'>
        {
          collection === 'blog' &&
            listItems.map((post) => <BlogCard post={post} inList={true} />)
        }
        {
          collection === 'frontendProjects' &&
            listItems.map((project) => (
              <FrontendProjectCard project={project} inList={true} />
            ))
        }
      </ul>
    </section>
    <div class='paginator-container'>
      <Paginator page={page} />
    </div>
  </div>

  <style lang='scss'>
    @use '../styles/variables.scss' as *;

    section {
      min-height: calc(100svh - var(--appbar-height));
      display: flex;
      flex-direction: column;
    }

    ul.collections-list {
      container-type: inline-size;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      list-style-type: none;
      padding: 0;
    }

    .page-content-container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 3rem;
    }

    .featured-container {
      margin-bottom: 2rem;
    }

    .featured-label {
      color: var(--clr-text-1);
      text-transform: uppercase;
      letter-spacing: 0.15ch;
      font-size: 1.5rem;

      margin-top: 0;
      margin-bottom: 0.5rem;
      margin-left: 0.06rem;
    }

    hr.featured-hr {
      margin-top: 0;
      margin-bottom: 1rem;
      opacity: 0.4;
    }

    .paginator-container {
      margin-top: auto;
      grid-column: 1 / -1;
    }

    @media screen and (width < 1080px) {
      .page-content-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          'content'
          'paginator'
          'fields';
      }
    }

    @media screen and (width < $width-mobile-1) {
      .page-content-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          'content'
          'paginator'
          'fields';
      }

      ul.collections-list {
        gap: 2.5rem;
      }
    }
  </style>
</Base>
